{{ define "main" }}
<main>
    <div class="content">
        {{ if .Site.Params.Portrait }}
            <!-- Avatar image positioned above the title -->
            <img src="{{ .Site.Params.Portrait }}" alt="Portrait" style="width: 150px; height: 150px; border-radius: 50%;">

        {{ end }}

        <h1 class="home-title">{{ .Site.Title }}</h1>

        {{ partial "subtitle.html" . }}

        {{- with .Site.Params.social }}
            <div class="social-icons">
                {{ partial "social-icons.html" . }}
            </div>
        {{- end }}
    </div>
</main>
{{ end }}
